<!doctype html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
    <style>
      body {
        background-color: #fffacd
      }
      .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
      }
      .circle {
        fill: steelblue;
      }
      .axis path,
      .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }
      #image {
        background: url(http://m.map.c.yimg.jp/m?x=14281&y=1621&z=15&r=1&mode=weather-radar);
        background-repeat: no-repeat;
        margin: 0 auto;
        text-align: center;
        width: 256px;
      }
      .overlay {
        fill: none;
        pointer-events: all;
      }
      text {
        font-size: 10px;
      }
      .title {
        text-align: center;
        font-size: 32px;
        font-style: italic;
      }
      svg {
        display: block;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <h1 class="title">お天気</h1>

    <div id="map">
      <div id="image">
        <img/>
      </div>
    </div>
    <script src="/weather.js"></script>
  </body>
</html>
